@model IEnumerable<TestViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <form asp-controller="Test" asp-action="CreateTest" method="get">
            <button type="submit" class="btn btn-primary">Create Test</button>
        </form>
    }
    else
    {
        <p>Log in to access all application functionality</p>
    }
</div>

<div class="container mt-4">
    <h1>Published Tests</h1>

    @if (!Model.Any())
    {
        <p>No tests available at the moment.</p>
    }
    else
    {
        <div class="row">
            @foreach (var test in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">@test.Title</h5>
                            <p class="card-text">@test.Description</p>
                            <p class="card-text">Category: @test.CategoryName</p>
                            <form asp-controller="Test" asp-action="Details" method="get">
                                <input type="hidden" asp-for="@test.Id" value="@test.Id"/>
                                <button type="submit" class="btn btn-primary">Solve Test</button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
